@section heading {
    <h1>Part 3</h1>
}

<p>
    In aliquam tortor eget tortor consequat aliquam. Morbi bibendum auctor lacus, et
    hendrerit nibh congue gravida. Fusce ex lectus, vehicula a leo in, bibendum auctor turpis. In dui velit, suscipit
    a euismod at, condimentum id metus. Nulla et tortor eu nisl pellentesque tempus nec non dui. Maecenas quis egestas
    velit. Curabitur sit amet leo placerat, mattis dolor quis
</p>

<a class="btn btn-primary" asp-action="Page2">Previous</a>