
@section heading {
    <h1>Part 1</h1>
}

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget dapibus lectus, vitae commodo tortor.
    Quisque euismod iaculis odio, id volutpat justo rutrum et. Proin viverra elit arcu, pretium varius erat tincidunt
    sed.
</p>

<a class="btn btn-primary" asp-controller="Home" asp-action="Page2">Next</a>