@section heading {
    <h1>Part 2</h1>
}

<p>
    Morbi volutpat, massa sit amet vehicula ultrices, erat quam pharetra turpis, a sagittis mi diam sed justo.
    Etiam vel accumsan lorem, sed facilisis nulla. Mauris a dolor tellus. Etiam faucibus est ut quam egestas, dignissim
    aliquet metus dignissim.
</p>

<a class="btn btn-primary" asp-action="Page1">Previous</a>
<a class="btn btn-primary" asp-action="Page3">Next</a>