@{
    ViewData["Title"] = "About";
}

@section heading{
    <h1>About</h1>
}

<h2>About Me</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget dapibus lectus, vitae commodo tortor.
    Quisque euismod iaculis odio, id volutpat justo rutrum et. Proin viverra elit arcu, pretium varius erat tincidunt
    sed. Morbi volutpat, massa sit amet vehicula ultrices, erat quam pharetra turpis, a sagittis mi diam sed justo.
    Etiam vel accumsan lorem, sed facilisis nulla. Mauris a dolor tellus. Etiam faucibus est ut quam egestas, dignissim
    aliquet metus dignissim.
</p>

<h3>Why Me?</h3>

<p>
    Suspendisse eu augue mauris. Mauris at viverra diam. Etiam vel consequat ligula. Donec augue lacus, imperdiet ut
    bibendum ac, euismod nec elit. In aliquam tortor eget tortor consequat aliquam. Morbi bibendum auctor lacus, et
    hendrerit nibh congue gravida. Fusce ex lectus, vehicula a leo in, bibendum auctor turpis. In dui velit, suscipit
    a euismod at, condimentum id metus. Nulla et tortor eu nisl pellentesque tempus nec non dui. Maecenas quis egestas
    velit. Curabitur sit amet leo placerat, mattis dolor quis, pellentesque tellus. Aenean dolor nisl, ornare at varius
    vel, consequat eget elit. Sed faucibus ac neque vel porttitor.
</p>